.navbars {
    position: relative;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid black; /* Border style, width, and color */
    
    padding:  35px;
    /* Other styles */
  }
  .navbars div {
    font-size: 45px;
    margin-left: 800px;
  }
  .footer {
    background-color: cyan; /* Background color for the footer */
    color: black; /* Text color */
    padding: 1px 0; /* Padding for content inside the footer */
    text-align: center; /* Center-align the content */
    bottom: 0;
    width:100%;
    position: fixed;
    }
    
    .footer-content {
    max-width: 500px; /* Set a maximum width for the content */
    margin: 0 auto; /* Center-align the content horizontally */
    
    }
    
    .footer-content p {
    margin: 0; /* Remove default margin for the paragraph */
    }
    
    .footer-content ul {
    list-style-type: none; /* Remove bullet points from the list */
    padding: 0;
    }
    
    .footer-content ul li {
    display: inline; /* Display list items inline */
    margin-right: 20px; /* Add spacing between list items */
    }
    
    .footer-content ul li:last-child {
    margin-right: 0; /* Remove margin from the last list item */
    }
    
    .footer-content a {
    text-decoration: none; /* Remove underlines from links */
    color: black /* Link text color */
    }
    
    .footer-content a:hover {
    text-decoration: underline; /* Add underline on hover (optional) */
    }
    .gradient-custom-2 {
      /* fallback for old browsers */
      background: #fccb90;
      
      /* Chrome 10-25, Safari 5.1-6 */
      background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
      
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
      }
      
      @media (min-width: 768px) {
      .gradient-form {
      height: 100vh !important;
      }
      }
      @media (min-width: 769px) {
      .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
      }
      }
      .gradient-form
      {
      
              background-color: #fff;
              padding: 20px;
            
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
              text-align: center;
      }
      .form
      {
           flex:1;
           margin-bottom: auto;
           margin-left: 800px;
            font-size: 25px;
           margin-right: 400px;
              background-color: #fff;
              padding: 25px;
              border-radius: 50px;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
              text-align: center;
              width:600px;
              height:500px;
              flex-direction: column;
              
  }
  .validation
  {
    color:red;
    font-size: 15px;
  
    
  }